{% extends '_layouts/base.html' %}
{% load static %}

<!-- IT WH: DashBoard -->
{% block content %}

{% if user_data.u_group == 'Admins' %}
    <div class="container" style="max-width: 1400px;">
        <div class="page-title">
            <nav class="navbar navbar-header navbar-expand navbar-light headli-1">
                <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
                <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="sidebar-categories">
                    <div style="background: orange" class="head"><a style="color: white; font-weight: 700" href="#" class="cart">Категорії</a></div>
                    <ul class="main-categories">
                        <li class="main-nav-list"><a data-toggle="collapse" href="#fruitsVegetable" aria-expanded="false" aria-controls="fruitsVegetable"><span
                                class="lnr lnr-arrow-right"></span>Все</a>
                            <ul class="collapse" id="fruitsVegetable" data-toggle="collapse" aria-expanded="false" aria-controls="fruitsVegetable">
                                <li class="main-nav-list child"><a href="{% url 'storage' %}">Все</a></li>
                            </ul>
                        </li>
                        <li class="main-nav-list"><a data-toggle="collapse" href="#meatFish" aria-expanded="false" aria-controls="meatFish"><span
                                class="lnr lnr-arrow-right"></span>Вільне</a>
                            <ul class="collapse" id="meatFish" data-toggle="collapse" aria-expanded="false" aria-controls="meatFish">
                                <li class="main-nav-list child"><a href="{% url 'offline' %}">Вільне</a></li>
                            </ul>
                        </li>
                        <li class="main-nav-list"><a class="border-bottom-0" data-toggle="collapse" href="#babyCare" aria-expanded="false"
                                                     aria-controls="babyCare"><span class="lnr lnr-arrow-right"></span>Графік</a>
                            <ul class="collapse" id="babyCare" data-toggle="collapse" aria-expanded="false" aria-controls="babyCare">
                                <li class="main-nav-list child"><a href="{% url 'graph' %}">Графік</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                </div>

            <div class="col-xl-9 col-lg-8 col-md-7">
                    <div class="card" >
                            <div class="card-header" >
                                <h4 class="card-title">Таблиця запитів</h4>
                            </div>
                            <div class="card-body" ><div class="chartjs-size-monitor" ><div class="chartjs-size-monitor-expand" ><div class="" ></div></div><div class="chartjs-size-monitor-shrink" ><div class="" ></div></div></div>
                                <canvas id="bar" style="display: block; width: 327px; height: 163px;" width="327" height="163" class="chartjs-render-monitor"></canvas>
                            </div>
                        </div>
                </div>
        </div>
    </div>
    <style>
                    tr{
                        color: black;
                    }
                    .headli-1{
                        display: inline-block
                    }
                    .ph-img{
                        object-fit: cover;
                    }
                    .main-img-n{
                        filter: blur(2px)
                    }
                </style>
{% endif %}

{% endblock content %}
<!-- IT WH: DashBoard -->