{% extends '_layouts/base.html' %}
{% load static %}

<!-- IT WH: DashBoard -->
{% block content %}

{% if user_data.u_group == 'Admins'%}
<div id="main" style="margin-left: 0; min-height: 800px;">
    <div class="container" style="max-width: 1300px; padding-bottom: 100px; margin-bottom: 100px">
        <div class="page-title">
            <nav class="navbar navbar-header navbar-expand navbar-light headli-1">
                <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
                <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
        <div class="cart_inner">
            <h3 class="title_confirmation">Відправлення</h3>
            <div class="returning_customer">
                <div class="check_title">
                    <h2>Для підтвердження замовлення введіть пошту відділа закупівель</h2>
                </div>
                <p></p>
                <form class="row contact_form" action="/storage/request_confirm/{{ str_list }}" method="post">
                    {% csrf_token %}
                    <div class="col-md-6 form-group p_star" style="margin: 20px;">
                        <label style="font-size: 15px;" for="first-name-vertical1">Ваша пошта не змінюється</label>
                        <input style="font-size: 20px; color: black; height: 50px; width: 600px;" placeholder="Введіть свою пошту" value="{{ employee_data.user_id.email }}" type="email" class="btn disabled form-control" id="name1" name="email1" required>
                    </div>
                    <div class="col-md-6 form-group p_star" style="margin: 5px;">
                        <label style="font-size: 15px;" for="first-name-vertical2">Введіть пошту відділа</label>
                        <input style="font-size: 20px; color: black; height: 50px; width: 600px; padding-bottom: 10px;" placeholder="Введіть пошту відділа" type="email" class="change_input form-control" id="name2" name="email2" required>
                    </div>
                    <div class="col-md-12 form-group">
                        <a class="gray_btn" href="/storage/request_check/{{ str_list }}">&Longrightarrow;&nbsp;&nbsp;&nbsp;перегляд запитів</a>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <button type="submit" value="submit" class="primary-btn">Надіслати запит</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock content %}