{% extends '_layouts/base.html' %}
{% load static %}

<!-- IT WH: СПІРОБІТНИКИ - ДОДАВАННЯ ВІДДІЛУ -->
{% block content %}
    <div class="container">
        <h3 style="color: darkblue;">Додати новий відділ:</h3>
        <div class="container">
             <!-- ТАК ТАБЛИЦЯ ВИГЛЯДАЄ ТРІШКІ ЛІПШЕ -->
             <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="progress-table-wrap">
                    {{ form.as_table }}
                </table>
                 <p style="margin-top: 20px;">
                    <input type="submit" value="Додати відділ" class="btn btn-success my-btn"
                           style="margin: 10px; padding-right: 20px;">
                </p>
            </form>
            <!-- *** -->
        </div>
        <div class="container">
            <a href="/main/main_page" class="btn btn-primary my-btn">На головну</a>
        </div>
    </div>
<!-- ДОДАТКОВІ СТИЛІ -->
<style>
    .errorlist {
        color: red;
        font-weight: bold;
    }
</style>
{% endblock content %}
<!-- *** *** *** *** *** -->