{% extends '_layouts/base.html' %}
{% load static %}

<!-- IT WH: СПІВРОБІТНИКИ - ВИДАЛИТИ ДЕПАРТАМЕНТ -->
{% block content %}
<div id="main" style="margin-left: 0; min-height: 800px;">
    <div class="container" style="max-width: 1400px;">
        {% if user_admin == 1 %}
        <div class="card-header">
            <h4 class="card-title">Ви збираєтесь видалити відомості про наступний відділ:</h4>
        </div>
        <div class="card-content" style="margin: 10px 0;">
            <div class="card">
                <div class="card-content" style="margin: 0 auto;">
                    <div class="card-body" >
                        <h5 class="card-title">Назва відділу: {{ dep_info.department }}</h5>
                        <h4 class="card-title">Кількість пов'язаних співробітників: {{ emp_count }}</h4>
                    </div>
                </div>
                <div style="padding: 10px;">
                    <form action="/employees/dep_delete/{{ dep_info.id }}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Видалити відділ" class="btn btn-danger my-btn">
                    </form>
                </div>
            </div>
            {% else %}
            <div class="container">
                <h3 style="color: darkred; text-align: center;">
                    Нажаль, лише користувач с правами Адміністратора може видалити ці відомості!
                </h3>
                <h4 style="color: darkblue; text-align: center;">
                    Будь ласка, зробить вхід в систему з відповідними правами.
                </h4>
            </div>
            {% endif %}
            <div class="container">
                <a href="/employees/departments" class="btn btn-primary my-btn">Повернутись</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!-- *** *** *** *** *** -->