{% extends '_layouts/base.html' %}
{% load static %}

<!-- IT WH: СПІВРОБІТНИК - СТВОРИТИ СПІВРОБІТНИКА -->
{% block content %}
<div class="content-panel">
    <div class="container">
        <h3 style="color: darkblue;">Додати інформацію про співробітника:</h3>
    </div>
    <div class="jumbotron container">
        <div style="text-align: left;">
            <!-- ТАК ТАБЛИЦЯ ВИГЛЯДАЄ ТРІШКІ ЛІПШЕ -->
             <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="progress-table-wrap">
                    {{ form.as_table }}
                </table>
                 <p style="margin-top: 20px;">
                    <input type="submit" value="Створити" class="btn btn-success my-btn"
                           style="margin: 10px; padding-right: 20px;">
                </p>
            </form>
            <!-- *** -->
        </div>
        <div class="container">
            <br />
            <a href="/main/main_page" class="btn btn-primary my-btn">На головну</a>
        </div>
    </div>
</div>
<style>
    .errorlist {
        color: red;
        font-weight: bold;
    }
    .form-group input {
        width: 50%;
        height: 30px;
    }
    .form-group textarea {
        width: 50%;
    }
    .my-btn {
        width: 150px;
    }
    footer {
        margin-top: 20px;
    }
</style>
{% endblock content %}
<!-- *** *** *** *** *** -->