{% extends '_layouts/base.html' %}
{% load static %}

<!-- IT WH: DashBoard -->
{% block content %}

{% if user_data.u_group == 'Admins'%}
<div style="background: #faf9ff; padding-bottom: 50px;">
    <div class="container" style="max-width: 1400px;">
        <div class="card-header">
            <h4 class="card-title">Ви збираєтесь видалити відомості про компанію:</h4>
        </div>
        <div class="card-content" style="margin: 10px 0;">
            <div class="card">
                <div class="card-content" style="margin: 0 auto;">
                    <img style="padding: 10px; margin: 0 auto;" src="/media/{{ deviceinner_device.device_type.dev_type_logo }}" class="card-img-top img-fluid" alt="singleminded">
                    <div class="card-body" >
                        <h5 class="card-title">Тип: {{ deviceinner_device.device_type }}</h5>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Власник: {{ deviceinner_device.user_id }}</li>
                    <li class="list-group-item">Бренд: {{ deviceinner_device.device_vendor }}</li>
                    <li class="list-group-item">Назва: {{ deviceinner_device.device_title }}</li>
                </ul>
                <div style="padding: 10px;">
                    <form action="/admin_page/devices/delete/{{ deviceinner_device.id }}" method="POST" class="col-sm-12 d-flex justify-content-end">
                        {% csrf_token %}
                        <input type="submit" value="Видалити компанію" class="btn btn-outline-danger my-btn">
                    </form>
                </div>
            </div>
            <div class="container">
                <a href="/admin_page/accounts" class="btn btn-primary my-btn">Повернутись</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}
<!-- IT WH: DashBoard -->