{% extends '_layouts/base.html' %}
{% load static %}

<!-- IT WH: КОМПАНІЯ - ВИДАЛИТИ КОМПАНІЮ -->
{% block content %}
<div style="background: #faf9ff; padding-bottom: 50px;">
    <div class="container" style="max-width: 1400px;">
        {% if user_admin == 1 %}
        <div class="card-header">
            <h4 class="card-title">Ви збираєтесь видалити відомості про компанію:</h4>
        </div>
        <div class="card-content" style="margin: 10px 0;">
            <div class="card">
                <div class="card-content" style="margin: 0 auto;">
                    <img style="padding: 10px; margin: 0 auto;" src="/media/{{ company_info.company_logo }}" class="card-img-top img-fluid" alt="singleminded">
                    <div class="card-body" >
                        <h5 class="card-title">Назва компанії: {{ company_info.company_title }}</h5>
                        <p class="card-text">
                            Код ЄДРПОУ: {{ company_info.company_code }}
                        </p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Електрона пошта: {{ company_info.email }}</li>
                    <li class="list-group-item">Телефон: {{ company_info.phone }}</li>
                    <li class="list-group-item">Директор компанії: {{ company_info.company_boss }}</li>
                    <li class="list-group-item">Матеріально-Відповідальна особа: {{ company_info.product_owner }}</li>
                </ul>
                <div style="padding: 10px;">
                    <form action="/company/delete/{{ company_info.id }}" method="POST" class="col-sm-12 d-flex justify-content-end">
                        {% csrf_token %}
                        <input type="submit" value="Видалити компанію" class="btn btn-outline-danger my-btn">
                    </form>
                </div>
            </div>
            {% else %}
            <div class="container">
                <h3 style="color: darkred; text-align: center;">
                    Нажаль, лише користувач с правами Адміністратора може видалити ці відомості!
                </h3>
                <h4 style="color: darkblue; text-align: center;">
                    Будь ласка, зробить вхід в систему з відповідними правами.
                </h4>
            </div>
            {% endif %}
            <div class="container">
                <a href="/company/details" class="btn btn-primary my-btn">Повернутись</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!-- *** *** *** *** *** -->