{% extends '_layouts/base.html' %}
{% load static %}

<!-- IT WH: КОМПАНІЯ - ПРО КОМПАНІЮ -->
{% block content %}
    <div class="container">
        <h3 style="color: darkblue;">Інформація про компанію:</h3>
        {% if company_info %}
            <div class="container">
                <div class="progress-table-wrap">
                    <div class="table-head">
                        <img src="/media/{{ company_info.company_logo }}">
                    </div>
                    <div class="table-row">
                        Назва компанії: {{ company_info.company_title }}
                    </div>
                    <div class="table-row">
                        Код ЄДРПОУ: {{ company_info.company_code }}
                    </div>
                    <div class="table-row">
                        Електрона пошта: {{ company_info.email }}
                    </div>
                    <div class="table-row">
                        Телефон: {{ company_info.phone }}
                    </div>
                    <div class="table-row">
                        Назва міста: {{ company_info.city }}
                    </div>
                    <div class="table-row">
                        Адреса компанії: {{ company_info.address }}
                    </div>
                    <div class="table-row">
                        Директор компанії: {{ company_info.company_boss }}
                    </div>
                    <div class="table-row">
                        Матеріально-Відповідальна особа: {{ company_info.product_owner }}
                    </div>
                    <div class="table-row">
                        Коментарі: {{ company_info.comments }}
                    </div>
                </div>
            </div>
            {% if user_admin == 1%}
            <div class="container">
                <a href="/company/update/{{ company_info.id }}" class="btn btn-success my-btn">Оновити відомості</a>
            </div>
            <div class="container">
                <a href="/company/delete/{{ company_info.id }}" class="btn btn-danger my-btn">Видалити компанію</a>
            </div>
            {% endif %}
        {% else %}
            <h3 style="color: darkred; text-align: center;">
                Нажаль, в базі відстутні відомості про компанію!
            </h3>
            <h4 style="color: darkblue; text-align: center;">
                Будь ласка, додайте інформацію про компанію в базу даних.
            </h4>
            {% if user_admin == 1%}
            <div class="container">
                <a href="/company/create" class="btn btn-success my-btn">Додати Компанію</a>
            </div>
            {% endif %}
        {% endif %}
        <div class="container">
            <br />
            <a href="/main/main_page" class="btn btn-primary my-btn">На головну</a>
        </div>
    </div>
{% endblock content %}
<!-- *** *** *** *** *** -->