{% extends '_layouts/base.html' %}
{% load static %}

<!-- IT WH: КОМПАНІЮ - ОНОВИТИ ВІДОМОСТІ ПРО КОМПАНІЮ -->
{% block content %}
    <div class="container">
        <h3 style="color: darkblue;">
            Ви збираєтесь оновити відомості про компанію (Код ЄДРПОУ: {{ company_info.company_code }}):
        </h3>
        <div class="container">
            <form action="/company/update/{{ company_info.id }}" method="POST">
                {% csrf_token %}
                <div class="container">
                    <table class="progress-table-wrap">
                        {{ form.as_table }}
                    </table>
                </div>
                <div class="container">
                    <input type="submit" value="Оновити відомості" class="btn btn-success my-btn">
                    <a href="/main/main_page" class="btn btn-primary my-btn">На головну</a>
                </div>
            </form>
        </div>
    </div>
<style>
    .form-group input {
        width: 50%;
        height: 30px;
    }
    .form-group textarea {
        width: 50%;
    }
    .my-btn {
        width: 150px;
    }
    footer {
        margin-top: 20px;
    }
</style>
{% endblock content %}
<!-- *** *** *** *** *** -->